{% extends '@!EasyAdmin/Layout.html.twig' %}

{% block main %}
    <h3>Commande n°{{ order.id }}</h3>
    <span>Passée le : {{ order.createdAt | date('d/m/y') }}</span><br/>
    <span>Stripe Session ID : {{ order.stripeSessionId }}</span><br/>
    <br/>
    <br/>

    {{ include('admin/state.html.twig', { field :  { 'value' : order.state } } ) }}

    <div class="row mt-4">
        <div class="col-md-6">
            <strong>Adresse de livraison</strong><br/>
            {{ order.delivery | raw }}<br/>
        </div>
        <div class="col-md-6">
            <strong>Transporteur</strong><br/>
            {{ order.carrierName }}<br/>
        </div>
    </div>

    <br/>

    <strong>Contenu de la commande : </strong>
    <br/>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Illustration</th>
            <th scope="col">Nom du produit</th>
            <th scope="col">Quantité</th>
            <th scope="col">Prix unitaire H.T</th>
            <th scope="col">T.V.A</th>
            <th scope="col">Total T.T.C</th>
        </tr>
        </thead>
        <tbody>
            {% for product in order.orderDetails %}
                <tr>
                    <td><img src="/uploads/{{ product.productIllustration }}" alt="{{ product.productName }}" style="width: 100px;"></td>
                    <td>{{ product.productName }}</td>
                    <td>{{ product.productQuantity }}</td>
                    <td>{{ product.productPrice | price }}</td>
                    <td>{{ product.productTva }} %</td>
                    {% set coeff = 1 + (product.productTva / 100) %}

                    <td>{{ (( product.productPrice * coeff ) * product.productQuantity) | price }} </td>
                </tr>
            {% endfor %}
        <tr>
            <td></td>
            <td>{{ order.carrierName }}</td>
            <td>1</td>
            <td></td>
            <td></td>
            <td>{{ order.carrierPrice | price }}</td>
        </tr>
        </tbody>
    </table>

    <div class="text-right fs-6">
        <strong>Total T.T.C</strong> : {{ ( order.totalWt - order.totalTva ) | price }}<br/>
        <strong>Total T.T.C</strong> : {{ order.totalTva | price }}<br/>
        <strong>Total T.T.C</strong> : {{ order.totalWt | price }}<br/>
    </div>

{% endblock %}